$distance-base: 2rem;
$distance-s: $distance-base * 0.5;
$distance-m: $distance-base;
$distance-l: $distance-base * 1.5;

$color-primary: #f7006b;
$color-primary-darker: darken($color-primary, 5%);
$color-secondary: #fddc59;

$color-black: #000;
$color-gray-light: #e5e5e5;;
$color-gray-darker: #4d4b4e;

$border-radius: 0.35rem;