@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700');

@import './vars';
@import './range';

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3 {
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

a {
	color: $color-black;

	&:hover {
		text-decoration: none;
	}
}

.is-hidden {
	display: none;
}

.container {
	margin: $distance-m $distance-s;

	@media (min-width: 31rem) {
		max-width: 30rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.header {
	text-align: right;
}

.logo {
	display: inline-block;
	max-width: 100px;
}

.form {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;

	margin-bottom: $distance-m;

	&__label {
		cursor: pointer;
		font-weight: bold;
	}

	&__item {
		margin-bottom: $distance-s;
	}

	&__input {
		width: 100%;

		padding: $distance-s;

		border: 2px solid $color-gray-light;
		border-radius: $border-radius;

		&--textarea {
			height: 6rem;
		}
	}

	.is-not-chrome &:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;

		background: rgba(255, 255, 255, 0.9);
	}
}

.warning {
	background: $color-secondary;
	margin: $distance-m 0;
	padding: $distance-m;
	font-weight: 700;
	text-align: center;

	display: none;

	.is-not-chrome & {
		display: block;
	}
}

.icon-play {
	position: absolute;
	top: 27px;
	right: $distance-m;

	width: 30px;
	height: 30px;

	border-top: 15px solid #fff;
	border-right: 15px solid #fff;

	transform: rotate(45deg);

	transition: transform 0.2s ease-out;
}

.button {
	position: relative;
	padding: $distance-m;

	border: none;
	border-radius: $border-radius;

	background-color: $color-primary;
	color: #fff;

	cursor: pointer;

	transition: background-color 0.1s ease-out;

	&:hover {
		background-color: $color-primary-darker;

		.icon-play {
			transform: rotate(45deg) translate($distance-s, -$distance-s);
		}
	}

	&--small {
		padding: $distance-s * 0.5;
		font-size: 0.75rem;
	}
}

